---
layout: page
title: Categories
---
<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] }}" class="post-tag post-category">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <script>
    var tempStripe = true;
  </script>
  <div class="tags-expo-section">

    {% for tag in site.categories %}
    <div id="{{ tag[0] }}">
      {% assign cl_title = '' %}
      {% assign cl_link = '' %}
      {% for cls in site.category_links %}
        {% assign i = 1 %}
        {% for cl in cls %}
          {% if i==1 %}
            {% assign cl_title = cl%}
            {% assign i = 2 %}
          {% endif %}
          {% if i==2 %}
            {% assign cl_link = cl%}
            {% assign i = 2 %}
          {% endif %}
        {% endfor %}

        {% assign temp1 = cl_title[0]|escape %}
        {% if temp1 == tag[0] %}
            {% break %}
        {% endif %}
        {% assign cl_title = '' %}
        {% assign cl_link = '' %}
      {% endfor %}

      <h2 class='stripe'>
        {% if cl_title=='' %}
          {{ tag[0] }}
        {% else %}
          <a class="post-title" href='{{ cl_link }}'>{{ tag[0] }}</a>
        {% endif %}
      </h2>


      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <li>
        {{ post.title }}
        <small class="post-date">{{ post.date | date_to_string }}</small>
        </li>
        </a>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>